body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
